{% set challenges = section.data.challenges %}
<section id="{{ section.data.page.fileSlug }}" class="relative flex min-h-full bg-mono-50" data-scroll>
	<div class="w-full min-h-full wrapper-x wrapper-y">
		<h1 class="mb-16 md:mb-20 scroll-flash" data-scroll>{{ section.data.title }}</h1>
		<div class="scroll-up" data-scroll>

			<ul class="grid sm:grid-cols-2 gap-8">
				{% for challenge in challenges %}
					<li class="">
						<div class="max-w-600 mx-auto">
							<div class="relative overflow-hidden rounded-lg shadow bg-gray-100 pb-16/9 darken">
								<img src="{{ challenge.image }}" alt="{{ challenge.question }}" class="absolute object-cover w-full h-full" loading="lazy">
								<span class="absolute inset-x-0 bottom-0 z-10 p-5 text-center text-white leading-7">{{ challenge.question }}</span>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>

		</div>
	</div>
</section>