---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set sectionslist = collections.section %}

<section>
	{% for section in sectionslist %}



                    
                    {% include "partials/" + (section.data.partial) + ".njk" %}


	{% endfor %}
</section>